@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

main{
    display: flex;
    /*justify-content: center;*/

    flex-direction: column  ;
    align-items: center;
}
section{
    display: flex;
    justify-content: center;

    flex-direction: column  ;
    align-items: center;
}

#Pesquisa{
    
}
#imagem{
    background-image: url("../IMAGE/Frame\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: cover;*/
    background-attachment: fixed;
}

header > h1{    
    font-size: 150px;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
    color: #800000;

    margin-bottom: 0.3em;

    text-shadow: 2px 2px 4px black;
}

h1 > span{
    color:yellow;
}

input[type="Text"]{
    padding: 0.5em;
    background-color: #E9EFEC;
    
    font-size: 1em;
    color:black;
    text-transform: uppercase;

    border-radius: 50px;
    border: 0px;

    height: 3em;
    width: 50vw;

    margin: 20px auto;

    box-shadow: 2px 2px 4px #697565;
}

input::placeholder {
    
    font-style: italic; /* Fonte em itálico */
    opacity: 1; /* Opacidade do texto */
    text-transform: none;
    padding-left: 20px;
}

button{
    width: 15vw;
    padding: 10px 5px;

    border-radius: 50px;
    border: 0px;

    background-color: #800000;

    font-family:"Bangers", system-ui;
    color: white;
    font-size: 1.5em;

    text-shadow: 2px 2px 4px black;
    box-shadow: 0px 0px 0px black;
}

button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
    cursor: pointer;
  }
  
  button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
    background-color: #e62626;
  }

  #Conteudo{
    display: flex;
    flex-direction: row;

    width: 80vw;

    background-color: white;

    border-radius: 50px;

    margin: 20px 0;
    padding: 15px;

    align-items: flex-start;
  }

  #Conteudo > p{
    text-align: justify;
  }

  #Conteudo > img{
    width: 10em;

    margin: auto;
  }

  .Conteudo_texto{
    margin-left: 2em;

  }

  .Conteudo_texto > h3{
    font-size: 2em;
    font-family: "Bebas Neue", sans-serif;

    margin: 0;

  }

  .Conteudo_texto > p{
    font-family: Open Sans, Trebuchet MS, Helvetica, Arial, sans-serif;
  }